@model Loan_Management.ViewModels.SaveFormViewModel
@{
    ViewBag.Title = "SubmittedCustomerForm";
}

<h2>Submitted Form</h2>

<div class="form-horizontal">
    <h4 style="padding-top:50px; padding-bottom:50px">Submitted Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="btn btn-primary" style="        background-color: #F07979;
        border: none;
        color: white;
        padding: 10px 50px;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Customer Basic Details
                        </button>
                    </h4>
                </div>
                <div id="collapseExample" class="panel-collapse collapse">
                    <div class="form-group">
                        <br />
                        @Html.LabelFor(model => model.customer.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.customer.CustomerId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.customer.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.customer.CustomerName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.customer.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.customer.EmailId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.customer.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.customer.ContactNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.customer.Aadhar_number, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.customer.Aadhar_number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.customer.Pan_number, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.customer.Pan_number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.customer.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.customer.Address, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.customer.City, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.customer.City, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.customer.Pincode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.customer.Pincode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>


                </div>
            </div>
           
            
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="btn btn-primary" style="        background-color: #F07979;
        border: none;
        color: white;
        padding: 10px 73px;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                            Collateral Details
                        </button>
                    </h4>
                </div>
                <div id="collapseExample3" class="panel-collapse collapse">
                    <div class="form-group">
                        <br />
                        @Html.LabelFor(model => model.loan.CollateralType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.loan.CollateralType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>

                    @if (Model.loan.CollateralType == "Fixed Deposit")
                    {

                    <div class="form-group">
                        @Html.LabelFor(model => model.loan.Fd_AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.loan.Fd_AccountNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.loan.Fd_BankName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.loan.Fd_BankName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.loan.FdAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.loan.FdAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>
                    }

                    else
                    {


                    <div class="form-group">
                        @Html.LabelFor(model => model.loan.Property_Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.loan.Property_Address, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.loan.Property_Evaluation, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.loan.Property_Evaluation, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>
                    }
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="btn btn-primary" style="        background-color: #F07979;
        border: none;
        color: white;
        padding: 10px 90px;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                            Loan Details
                        </button>
                    </h4>
                </div>
                <div id="collapseExample4" class="panel-collapse collapse">
                    <div class="form-group">
                        <br />
                        @Html.LabelFor(model => model.loan.LoanType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.loan.LoanType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.loan.LoanAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.loan.LoanAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group">
                @Html.LabelFor(model => model.loan.status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.loan.status, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                </div>
            </div>
        </div>
    </div>
</div>
            
<script>
                $(function () {
                    $("#accordion").accordion();
                });
</script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
